.home-categories {
  position: sticky;
  top: 120px;
  width: 500px;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 700;

  a {
    transition: transform ease-out .2s;
    display: block;
    padding: 5px 0;
  }

  li {
    position: relative;

    &:hover {

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 60%;
        top: 20%;
        left: 0;
        background-color: #000;
      }

      a {
        transform: translateX(10px);
      }
    }
  }
}