.login-form {
  min-height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    max-width: 500px;
    width: 100%;
  }

  h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
  }

  .upload {
    display: flex;
    align-items: center;
    width: 100%;

    label {
      flex-grow: 1;
    }

    div {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: solid 1px #000;
      margin-right: 15px;
      padding-bottom: 0;
    }
  }
}