* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, i, div, table, input, textarea, a, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  width: calc(100% - 60px);
  margin: auto;
  max-width: 1400px;
}

