@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&family=Staatliches&display=swap');

$font-text: 'Open Sans', sans-serif;
$font-title: 'Staatliches', cursive;

body {
  font-family: $font-text;
  font-weight: 300;
  line-height: 1.4;
  font-size: 15px;
  color: #333;
}

h1, h2, h3, h4, h5, h6, [class*="title-"] {
  font-family: $font-title;
}

h1,
.title-1 {
  font-size: 70px;
  font-weight: 600;
}

h2,
.title-2 {
  font-size: 30px;
}

h3,
.title-3 {
  font-size: 25px;
}

.error {
  color: red;
  margin-bottom: 30px;
  text-align: center;
}
