.categories-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 180px);
  justify-content: center;

  h1 {
    font-size: 60px;
    margin-bottom: 15px;
  }

  .avatar {
    margin-bottom: 10px;
    border: solid 1px #000;
  }
}