.list {
  display: flex;
  flex-wrap: wrap;

  li {
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
      &:not(:nth-of-type(4n)) {
        margin-right: 30px;
      }
    }

    @media screen and (min-width: 1025px) and (max-width: 1199px) {
      width: calc((100% - 60px) / 3);
      &:not(:nth-of-type(3n)) {
        margin-right: 30px;
      }
    }

    @media screen and (max-width: 1024px) {
      width: calc((100% - 30px) / 2);
      &:not(:nth-of-type(2n)) {
        margin-right: 30px;
      }
    }

  }
}