.home-articles {
  margin-top: 60px;
  position: relative;
  display: flex;
  align-items: flex-start;

  &__list {

    ul {
      flex-grow: 1;
    }

    li:not(:first-of-type) {
      margin-top: 30px;
    }
  }

  .img {
    padding-bottom: 60%;
  }

  span {
    margin-top: 15px;
    display: block;
    color: #aaa;
    font-weight: 400;
  }

  .icon-more {
    margin-top: 20px;
    width: 30px;
  }
}