.article-form {

  h1 {
    font-size: 60px;
    margin-bottom: 15px;
  }

  & > div {
    display: flex;
    align-items: flex-start;
  }

  .upload {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column-reverse;

    & + div {
      width: 50%;
      flex-grow: 1;
      margin-left: 30px;
    }
  }

  .avatar {
    padding-bottom: 120%;
    border: solid 1px #000;

    img {
      object-fit: cover;
    }
  }
}