.articles {

  h1 {
    margin-bottom: 20px;
  }

  .head {
    margin-bottom: 30px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;

    li {
      width: calc((100% - 90px) / 4);
      margin-bottom: 30px;
      &:not(:nth-of-type(4n)) {
        margin-right: 30px;
      }
    }
  }
}