.article-details {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  min-height: calc(100vh - 90px - 30px);
  align-items: flex-start;

  .img {
    height: calc(100vh - 90px - 30px);
    position: sticky;
    top: 90px;
    width: 40%;
    padding-bottom: 0;
    flex-shrink: 0;
    min-width: 500px;
  }

  & > div {
    position: sticky;
    top: 90px;
    padding-left: 30px;
  }

  .brand {
    font-weight: 500;
    font-size: 17px;
  }

  .link {
    border: solid 1px #000;
    background-color: #000;
    margin-bottom: 30px;
  }

  .price {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }
}